.input-form{
	padding: 10px;
	margin: 5px;
    background: #FAFBFC;
	border-radius: 8px;
    width: 90px;

    font-size: 12px;
    border-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    border: 1px solid rgba(27, 31, 35, 0.15);

}
/* input[type='date']::-webkit-calendar-picker-indicator {
    background: transparent;
    color: transparent;
    cursor: pointer;
    height: auto;
} */