#sidebar {
  /* position: fixed; */
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh; /* Set the maximum height to 100% of the viewport */
  box-shadow: 10px 10px 50px -54px rgba(0,0,0,1);
  box-sizing: border-box;
  padding: 10px 20px;
  background: white;
}


.hide{
    transition:right 0.4s;
    right:-410px;
}
  .show{
    transition:right 0.4s;
    right:0px;
}

#top-buttons{
  display: flex;
  justify-content: space-between;
}


#close-icon{
    background-color: #ffcccb;
}
#logo{
  width: 150px;
  margin-bottom: 20px;
}
#genreSelect{
  width: 150px;
  height: 200px;
}

#countrySelect{
  width: 150px;
  height: 200px;
}

.input-container{
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.filter-row{
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

#period-inputs{
  display: flex;
  justify-content: space-between;
  margin-top: 4px;
}