*{
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
}

#container{
    display: flex;
    width: 100%;
    height: 100vh;
}


#dashboard{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;    
    width:100%;
    height: 100%;   
    margin-left: 10px;
}
.chart{
    /* border: 2px solid rgb(173, 173, 173);    */
    border-radius: 4px;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 10px 10px 50px -54px rgba(0,0,0,1);

}

#parallelcoords, #mapchart{
    margin-top: 10px;

}
#linechartContainer{
    height: fit-content;
    width: fit-content;
    padding-top: 8px;
}

.show-average-lineChart{
    left: 400px;
    top: 10px;
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}   
text{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
input, label{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

#metricDropdown{
    margin-left: 8px;
}